.chooseCon{

  margin-top: 10%;
}
.chooseTitle{
  color:#f4f4f4;
  text-align: center;
  margin-top: 5%;
}
.booChoice{
  width:100%;

}
.levelCon{
  float:left;
  width:35%;
  margin-left: 12.5%;
}
.levelTe{
  clear:both;
  text-align: center;
  font-size:20px;
  color:#f4f4f4;
  font-family: monospace;
}
.booChoice:hover{
  animation:bigger .2s ease-in 1;
  width:105%;
  position: relative;
  bottom:10px;



}

.levelCon{
  border-radius:10px;
  background:#262626;
  border:4px dashed white;
  padding:10px;

}
.levelCon:hover{
  border-width:5px;
  border-color:red;

}
.levelCon:hover > .levelTe{
  position: relative;
  top:10px;
  color:red !important;
}
@keyframes bigger{
  0%{
    width:100%;
  }
  100%{
    width:105%;
  }
}

@keyframes little{
  0%{opacity:0}
  100%{opacity:1}
}
.littleBo{
  animation: little .5s ease-in 1;
}
@media screen and (max-width:480px){
  .levelCon{
    width:35%;
    float:left;
    position: relative;
    top:2.5%;

  }
  .levelTe{
    font-size:10px;
  }
  .chooseCon{
    margin-top: 25%;
    position: relative;
    right:2%;
  }
  .chooseTitle{

    font-weight: bold;
    margin-top: 15%;
  }

}
