.healthBar{
  float:left;
  margin-top:2.5%;
  margin-left:2.5%;
  width:200px;
  height:30px;
  background:#262626;
  border-radius:10px;
  border:2px solid red;
}
body{
  padding-bottom:5%;
}
.disa{

  width:0px;
  height:0px;
  opacity:0;

  animation:.7s 1 ease-out disappear;

}
body{
cursor: crosshair;
}
.container-fluid{
  height:1200px;
}
@keyframes disappear {
  0%{
    width:100px;

    height:100px;
    opacity:1;
  }
  100%{
    width:100px;
    height:100px;
    opacity:0;
  }
}
.scoreText{
  color:yellow;

  font-weight: bold;
  font-family:monospace;
  float:right;
  position: absolute;
  top:10%;
  right:4%;
}
.tIcon{
  width:4%;
  float:right;
  position: absolute;
  top:9%;
  right:7%;
}
.booIcon{
  width:40px;
  float:left;
  height:40px;
  margin-top:2px;
}
.booKillBox{
  position:absolute;
  width:15%;
  top:10%;
  right:5%;
}
.booKillCount{
  color:red;
  font-weight: bold;
  font-family: monospace;
}
.fr{

position: absolute;
right:1.5%;
top:1.5%
}
.blood{
  background:red;
  color:white;

  text-align:center;
  width:200px;
  position:relative;
  right:1px;
  height:28px;
  border-radius:10px
}
.container-fluid{
  padding:20px;
  padding-bottom:90%;
}
.boo{
  width:75px;
  height:75px;
  margin:20px;
  animation:appear .5s 1 ease-in;

}
.boo:hover{
  padding-right:5px;
  border:2px solid red;
  border-radius: 50%;
}
@keyframes appear{
  from{  opacity:0;}
  to{   opacity:1;}
}
.quit{
width:100px;
}
.booContainer{
  padding-bottom:30%;
  width:80%;
  margin-left:10%;
}
@media screen and (max-width:580px){
  .tIcon{
    width:10%;
    right:13%;
  }
  .booKillBox{
    right:80% !important;
    position: absolute;
  }
  .booIcon{
    opacity:0;
    width:0px !important;
    height:0px !important;
  }
  .quit{
position: absolute;
top:91%;
right:1%;
  }
}
@media screen and (max-width:1000px){
  .booKillBox{
    right:15%;
    top:10.15%;
  }
}
