.healthBar{
  width:200px;
  height:30px;
}
.disa{
  width:0px;
  height:0px;
  opacity:0;
  animation:.7s 1 ease-out disappear;
}
.scoreText{
  top:10%;
  right:4%;
}
.tIcon{
  width:4%;
  top:9%;
  right:7%;
}
.booIcon{
  width:40px;
  height:40px;
  margin-top:10px;
}
.booKillBox{
  width:15%;
  top:10%;
  right:5%;
}
.quit{
  right:1.5%;
  top:1.5%
}
.blood{
  width:200px;
  right:1px;
  height:28px;
}
.container-fluid{
  padding-bottom:90%;
}
.boo{
  width:75px;
  height:75px;
  margin:20px;
  animation:appear .5s 1 ease-in;

}
.boo:hover{
  padding-right:5px;
  border:2px solid red;
  border-radius: 50%;
}
.booContainer{
  width:80%;
}

@media screen and (max-width:580px){
  .tIcon{
    width:10%;
    right:13%;
  }
  .booKillBox{
    right:80% !important;
    position: absolute;
  }
  .booIcon{
    opacity:0;
    width:0px !important;
    height:0px !important;
  }
  .quit{
    position: absolute;
    top:91%;
    right:1%;
  }
}

@media screen and (max-width:1000px){
  .booKillBox{
    right:15%;
    top:10.15%;
  }
}
