.title{
  text-align: center;
  animation: brokenLight 5s ease-in-out infinite;
  color:#262626;
  font-size:80px;
  font-family:"Coiny";
}
body{
  cursor:crosshair;
}
.startButton{
  border:2px solid yellow;
  background:black;
  color:yellow;
  height:50px;

  font-weight:bold;
}
.startContainer{
  animation:20s ghostHalf infinite ease-in-out;
}
.rowMain{
  margin-top:25%;padding-bottom:50%
}

@keyframes ghostHalf{
  0%{
    opacity:1;
  }
  50%{
    opacity:.5;
  }
  100%{
    opacity:1;
  }
}
@keyframes brokenLight{
  0%{
    color:#262626;

  }
  59%{
    color:#262626;
  }
  60%{
    color:yellow;
  }
  61%{
    color:#262626;
  }

  62%{
    color:yellow;
  }
  63%{
    color:#262626;
  }
  100%{
    color:#262626;
  }
}
.startButton:hover{
  color:red;
  border:2px solid red;
}
body{
  background:black;
}

#root{
  padding:0;
}

.boosRandom{
  position:absolute;

}
.boo1S{
  animation: ghost infinite ease-in-out 5s;
}
{
  animation: ghost infinite ease-in-out 17s;
}
.boo2A{
  animation: ghost infinite ease-in-out 2s;
}
.boo2S{
  animation: ghost infinite ease-in-out 13s;
}
.boo3A{
  animation: ghost infinite ease-in-out 4s;
}
.boo3S{
  animation: ghost infinite ease-in-out 14s;
}
.boo4S{
  animation: ghost infinite ease-in-out 12s;
}
.boo4A{
  animation: ghost infinite ease-in-out 7s;
}
.boo5A{
  animation: ghost infinite ease-in-out 8s;
}
.boo5S{
  animation: ghost infinite ease-in-out 10s;
}
.ghostsMobile1{
  opacity:0;
  width:0px;
  heigth:0px;
  animation:none ease-in 0 0;
}
.ghostsMobile2{
  opacity:0;
  width:0px;
  heigth:0px;
  animation:none ease-in 0 0;
}
@media screen and (max-width: 1000px){
  .startButton{
    position: relative;
    top:150px;

  }
  .smallboo{
    width:30px !important;
    height:30px !important;
  }
  .kingboo{
    position: absolute;
    left:37.5% !important;
    width:200px !important;
    height:200px;
    animation-name:none !important;
    top:20% !important;

  }
  .ghosts3{
  opacity:0;
  }
  .ghosts4{
    opacity:0;
  }
  .ghosts2{
    opacity:1;
    width:40px !important;
    height:40px !important;
  }
  .booAttack{
      width:0px !important;height:0px !important;
  }
  .booShy{
    width:0px !important;height:0px !important;
  }
  .ghosts5{
    opacity:0;
    width:20px !important;
    height:20px !important;
  }
  .ghosts2{

    height:40px !important;
    width:40px !important;
  }
  .ghosts{
    width:100px !important;
    height:100px !important;
    left:40% !important;
    animation: ghostUpMobile 9s infinite ease-in-out !important;
    top:80%;
  }
}
@media screen and (max-width: 580px){
  .booMove{
    opacity:0;
    width:0px;
    height:0px;
    animation-name:none;
  }
  .smallboo{
    opacity:0 !important;
    height:0px;
    width:0px;
  }
  .startButton{
    width:200% !important;
    margin-top:-10px;
    position: relative;
    right:65px;


  }
  .title{
    font-size: 70px;
    margin-top:5%;
    color:grey !important;
  }
  .kingboo{
    width:25% !important;
    margin-top: 5%;
    height:20%;

  }
  .booShy{
    opacity:0 !important;
    width:0px !important;
    height:0px !important;
  }
  .booAttack{
        animation-name:none !important;
      opacity:0 !important;
      width:0px !important;
      height:0px !important;

  }
  .ghosts{
    width:50px !important;
    height:50px !important;
    left:80% !important;
    animation: ghostUpMobile 9s infinite ease-in-out !important;

  }
  .ghostsMobile1{
    width:70px !important;
    height:70px !important;
    left:6.5% !important;
    position:absolute;
    animation: ghostUpMobile 14s infinite ease-in-out !important;

  }
  .ghostsMobile2{
    position:absolute;
    width:50px !important;
    height:50px !important;
    opacity:1;
    left:90% !important;
    top:80% !important;
    animation: ghostUpMobile 18s infinite ease-in-out !important;

  }
  @keyframes ghostUpMobile{
    0%{
      opacity:0;
      top:100%;
    }
    50%{
      opacity:1;
      top:70%;
    }
    100%{
      opacity:0;
      top:70%;
    }
  }

  .ghosts3{
    opacity:0;
  }
  .ghosts4{
    opacity:0;
  }
  .ghosts2{
    opacity:0;
  }
  .ghosts5{
    opacity:0;
  }
  .ghosts2{

    height:10px !important;
    width:10px !important;
  }
}
